{% extends 'base.html.twig' %}

{% block title %}Dev4Smart | Accuiel
{% endblock %}

{% block body %}
	<!-- Hero Section -->
	<section id="hero" class="hero section light-background">

		<div class="container">
			<div class="row gy-4">
				<div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
					<h1>Des solutions
						<span>logicielles sur mesure</span>, conçues pour faire grandir votre entreprise.
					</h1>
					<p>Nous créons des applications web et mobiles adaptées à vos besoins spécifiques, 
																																																																																																																																																																																																																																																																																																										que vous soyez une PME, une grande entreprise ou un particulier.</p>
					<div class="d-flex">
						<a href="#about" class="btn-get-started">Demandez un devis</a>
						{# <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center">
																																																																																																																																																																																																																																																																																																											<i class="bi bi-play-circle"></i>
																																																																																																																																																																																																																																																																																																											<span>Watch Video</span>
																																																																																																																																																																																																																																																																																																										</a> #}
					</div>
				</div>
			</div>
		</div>

	</section>
	<!-- /Hero Section -->

	<!-- About Section -->
	<section
		id="about" class="about section light-background">

		<!-- Section Title -->
		<div class="container section-title" data-aos="fade-up">
			<h2>A propos de nous</h2>
			<p>
				<span>Savoir plus</span>
				<span class="description-title">à propos de nous</span>
			</p>
		</div>
		<!-- End Section Title -->

		<div class="container">

			<div class="row gy-3">

				<div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
					<img src="assets/img/equipe.jpg" alt="" class="img-fluid">
				</div>

				<div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
					<div class="about-content ps-0 ps-lg-3">
						<h3>Dev4Smart.</h3>
						<p class="fst-italic">
							Créée en 2016, Dev4Smart est une société nigérienne basée à Niamey et spécialisée dans les domaines Développement de logiciels sur mesure, de la Conception de sites web et d'applications mobiles, de la communication digitale et de l'intégration de solutions Recharge/SMS/USSD/IVR & Fintechs. Nous intervenons également en tant qu'intégrateur de solutions réseaux, voix sur IP et infrastructures de système d'information (serveurs, stockage, réseaux LAN/WAN, postes de travail, IPBX, PABX, etc.). Depuis 2018, nous sommes devenus un partenaire dynamique et fiable pour les institutions nationales et internationales.
						</p>
						<ul>
							<li>
								<i class="bi bi-rocket-takeoff-fill"></i>
								<div>
									{# <h4>Notre objectif.</h4> #}
									<p>Notre objectif principal est de nous développer de manière constante et de devenir un acteur de premier plan sur ce marché mondial compétitif. Pour cela, nous avons pu rassembler une équipe de jeunes professionnels capables de façonner et de modeler leurs expériences collectives, tous possédant un talent exceptionnel qui peut aider à accélérer les activités de votre organisation.</p>
								</div>
							</li>
							<li>
								<i class="bi bi-lightbulb-fill"></i>
								<div>
									{# <h4>Magnam soluta odio exercitationem reprehenderi</h4> #}
									<p>Animés par une ambition sans bornes, nous créons des solutions en nous concentrant constamment sur le succès de nos clients, en construisant des solutions de haute qualité et en planifiant à long terme.</p>
								</div>
							</li>
						</ul>
					</div>

				</div>
			</div>

		</div>

	</section>
	<!-- /About Section -->

	<!-- Stats Section -->
	<section id="stats" class="stats section">

		<div class="container" data-aos="fade-up" data-aos-delay="100">

			<div class="row gy-4">

				<div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
					<i class="bi bi-emoji-smile"></i>
					<div class="stats-item">
						<span data-purecounter-start="0" data-purecounter-end="115" data-purecounter-duration="1" class="purecounter"></span>
						<p>Clients satisfaits.</p>
					</div>
				</div>
				<!-- End Stats Item -->

				<div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
					<i class="bi bi-journal-richtext"></i>
					<div class="stats-item">
						<span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="1" class="purecounter"></span>
						<p>Projets reussis.</p>
					</div>
				</div>
				<!-- End Stats Item -->

				<div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
					<i class="bi bi-trophy-fill"></i>
					<div class="stats-item">
						<span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
						<p>Témoignages.</p>
					</div>
				</div>
				<!-- End Stats Item -->

				<div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
					<i class="bi bi-alarm-fill"></i>
					<div class="stats-item">
						<span data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="1" class="purecounter"></span>
						<p>Ans au service des entreprises.</p>
					</div>
				</div>
				<!-- End Stats Item -->

			</div>

		</div>

	</section>
	<!-- /Stats Section -->

	<!-- Clients Section -->
	<div class="container section-title" data-aos="fade-up">
		<h2>Ils nous ont fait confiance</h2>
		<p>
			<span>Découvrez nos différents</span>
			<span class="description-title">partenaires</span>
		</p>
	</div>
	<section id="clients" class="clients section light-background">
		<div class="container">

			<div
				class="swiper init-swiper">
				 <script type="application/json" class="swiper-config">
																																																																																																																																																																																				            {
																																																																																																																																																																																				              "loop": true,
																																																																																																																																																																																				              "speed": 600,
																																																																																																																																																																																				              "autoplay": {
																																																																																																																																																																																				                "delay": 5000
																																																																																																																																																																																				              },
																																																																																																																																																																																				              "slidesPerView": "auto",
																																																																																																																																																																																				              "pagination": {
																																																																																																																																																																																				                "el": ".swiper-pagination",
																																																																																																																																																																																				                "type": "bullets",
																																																																																																																																																																																				                "clickable": true
																																																																																																																																																																																				              },
																																																																																																																																																																																				              "breakpoints": {
																																																																																																																																																																																				                "320": {
																																																																																																																																																																																				                  "slidesPerView": 2,
																																																																																																																																																																																				                  "spaceBetween": 40
																																																																																																																																																																																				                },
																																																																																																																																																																																				                "480": {
																																																																																																																																																																																				                  "slidesPerView": 3,
																																																																																																																																																																																				                  "spaceBetween": 60
																																																																																																																																																																																				                },
																																																																																																																																																																																				                "640": {
																																																																																																																																																																																				                  "slidesPerView": 4,
																																																																																																																																																																																				                  "spaceBetween": 80
																																																																																																																																																																																				                },
																																																																																																																																																																																				                "992": {
																																																																																																																																																																																				                  "slidesPerView": 6,
																																																																																																																																																																																				                  "spaceBetween": 120
																																																																																																																																																																																				                }
																																																																																																																																																																																				              }
																																																																																																																																																																																				            }
																																																																																																																																																																																				          </script>
				<div class="swiper-wrapper align-items-center">
					<div class="swiper-slide"><img src="assets/img/clients/client-1.jpeg" class="img-fluid" alt=""></div>
					<div class="swiper-slide"><img src="assets/img/clients/client-2.jpeg" class="img-fluid" alt=""></div>
					<div class="swiper-slide"><img src="assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
					<div class="swiper-slide"><img src="assets/img/clients/client-4.jpeg" class="img-fluid" alt=""></div>
					<div class="swiper-slide"><img src="assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
					<div class="swiper-slide"><img src="assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
					<div class="swiper-slide"><img src="assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
					<div class="swiper-slide"><img src="assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
					<div class="swiper-slide"><img src="assets/img/clients/client-9.png" class="img-fluid" alt=""></div>
					<div class="swiper-slide"><img src="assets/img/clients/client-10.jpeg" class="img-fluid" alt=""></div>
					<div class="swiper-slide"><img src="assets/img/clients/client-11.png" class="img-fluid" alt=""></div>
					<div class="swiper-slide"><img src="assets/img/clients/client-12.png" class="img-fluid" alt=""></div>
					<div class="swiper-slide"><img src="assets/img/clients/client-13.jpeg" class="img-fluid" alt=""></div>
					<div class="swiper-slide"><img src="assets/img/clients/client-14.jpeg" class="img-fluid" alt=""></div>
					<div class="swiper-slide"><img src="assets/img/clients/client-15.jpeg" class="img-fluid" alt=""></div>
				</div>
			</div>

		</div>

	</section>
	<!-- /Clients Section -->

	<!-- Services Section -->
	<section
		id="services" class="services section">

		<!-- Section Title -->
		<div class="container section-title" data-aos="fade-up">
			<h2>Nos services</h2>
			<p>
				<span>Consultez nos différents</span>
				<span class="description-title">services</span>
			</p>
		</div>
		<!-- End Section Title -->

		<div class="container">

			<div class="row gy-4">

				<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
					<div class="service-item position-relative">
						<div class="icon">
							<i class="bi bi-code-slash"></i>
						</div>
						<a href="#" class="stretched-link">
							<h3>Logiciel sur mesure.</h3>
						</a>
						<p>Développement des applications web et mobile et diverses solutions informatiques sur mésure.</p>
					</div>
				</div>
				<!-- End Service Item -->

				<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
					<div class="service-item position-relative">
						<div class="icon">
							<i class="bi bi-broadcast"></i>
						</div>
						<a href="#" class="stretched-link">
							<h3>Services Télécoms.</h3>
						</a>
						<p>Intégration des services télécoms à fortes valeurs ajoutées (SMS/IVR/USSD Gateway, SMS Banking, Voting SMS et Sondages).</p>
					</div>
				</div>
				<!-- End Service Item -->

				<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
					<div class="service-item position-relative">
						<div class="icon">
							<i class="bi bi-cash-coin"></i>
						</div>
						<a href="#" class="stretched-link">
							<h3>Solutions Fintech.</h3>
						</a>
						<p>Application de paiement web et mobile, système e-Voucher, financement participatif.</p>
					</div>
				</div>
				<!-- End Service Item -->
			</div>

		</div>

	</section>
	<!-- /Services Section -->

	<!-- Testimonials Section -->
	<section id="testimonials" class="testimonials section dark-background">

		<img src="assets/img/testimonials-bg.jpg" class="testimonials-bg" alt="">

		<div class="container" data-aos="fade-up" data-aos-delay="100">

			<div
				class="swiper init-swiper">
				 <script type="application/json" class="swiper-config">
																																								            {
																																								              "loop": true,
																																								              "speed": 600,
																																								              "autoplay": {
																																								                "delay": 5000
																																								              },
																																								              "slidesPerView": "auto",
																																								              "pagination": {
																																								                "el": ".swiper-pagination",
																																								                "type": "bullets",
																																								                "clickable": true
																																								              }
																																								            }
																																								          </script>
				<div class="swiper-wrapper">

					<div class="swiper-slide">
						<div class="testimonial-item">
							<img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
							<h3>Boulama KANDINE</h3>
							<h4>Fondateur &amp; DG Otimbi Labs</h4>
							<div class="stars">
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
							</div>
							<p>
								<i class="bi bi-quote quote-icon-left"></i>
								<span>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</span>
								<i class="bi bi-quote quote-icon-right"></i>
							</p>
						</div>
					</div>
					<!-- End testimonial item -->

					<div class="swiper-slide">
						<div class="testimonial-item">
							<img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
							<h3>Moutari Moussa</h3>
							<h4>Développeur des applications Web &amp; Mobile</h4>
							<div class="stars">
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
								<i class="bi bi-star-fill"></i>
							</div>
							<p>
								<i class="bi bi-quote quote-icon-left"></i>
								<span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>
								<i class="bi bi-quote quote-icon-right"></i>
							</p>
						</div>
					</div>
					<!-- End testimonial item -->
				</div>
				<div class="swiper-pagination"></div>
			</div>

		</div>

	</section>
	<!-- /Testimonials Section -->

	<!-- Contact Section -->
	<section
		id="contact" class="contact section">

		<!-- Section Title -->
		<div class="container section-title" data-aos="fade-up">
			<h2>Contact</h2>
			<p>
				<span>Vous voulez entrer en
				</span>
				<span class="description-title">contact avec nous ?</span>
			</p>
		</div>
		<!-- End Section Title -->

		<div class="container" data-aos="fade-up" data-aos-delay="100">

			<div class="row gy-4">

				<div class="col-lg-5">

					<div class="info-wrap">
						<div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
							<i class="bi bi-geo-alt flex-shrink-0"></i>
							<div>
								<h3>Addresse:</h3>
								<p>Koira-Kano,Niamey-NIGER</p>
							</div>
						</div>
						<!-- End Info Item -->

						<div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
							<i class="bi bi-telephone flex-shrink-0"></i>
							<div>
								<h3>Téléphone:</h3>
								<p>(+227) 90 23 28 25</p>
							</div>
						</div>
						<!-- End Info Item -->

						<div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
							<i class="bi bi-envelope flex-shrink-0"></i>
							<div>
								<h3>Email:</h3>
								<p>contact@dev4smart.net</p>
							</div>
						</div>
						<!-- End Info Item -->
						<iframe src="https://www.google.com/maps/d/embed?mid=1ZkW3VueNVuE6g66gI_K5_KS69CGjzXT1" frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>

				<div class="col-lg-7">
					<form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
						<div class="row gy-4">

							<div class="col-md-6">
								<label for="name-field" class="pb-2">Nom & Prénom</label>
								<input type="text" name="name" id="name-field" class="form-control" required="">
							</div>

							<div class="col-md-6">
								<label for="email-field" class="pb-2">Votre mail</label>
								<input type="email" class="form-control" name="email" id="email-field" required="">
							</div>

							<div class="col-md-12">
								<label for="subject-field" class="pb-2">Motif</label>
								<input type="text" class="form-control" name="subject" id="subject-field" required="">
							</div>

							<div class="col-md-12">
								<label for="message-field" class="pb-2">Votre message</label>
								<textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
							</div>

							<div class="col-md-12 text-center">
								<div class="loading">en cours d'envoie</div>
								<div class="error-message"></div>
								<div class="sent-message">Votre message a été bien envoyé !</div>

								<button type="submit">Envoyez</button>
							</div>

						</div>
					</form>
				</div>
				<!-- End Contact Form -->

			</div>

		</div>

	</section>
	<!-- /Contact Section -->


{% endblock %}
